.root {
  padding: 20px;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 0 10px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      p {
        margin-right: 5px;
      }
      .success {
        color: greenyellow;
        border: 2px solid greenyellow;
        padding: 3px;
      }

      .error {
        color: rgba(252, 21, 5, 0.932);
        border: 2px solid rgba(252, 21, 5, 0.932);
        padding: 3px 5px;
      }
    }
  }
}
